.list{ :data => { :updatable => :remote } }
  .fn-list
    .template
      .row-fluid.fn-post{ :loop => true, :data => { :dbid => '%#id%' } }
        .span12.post
          %p %#body%
          .date %#post_date%
          .likes.fn-like.fn-disliked
            %span.fn-disliked.icon-heart-empty{ :data => { :remote => like_message_path('%#id%').gsub('%23','#'), :success => 'hhkk.liked' } }
            %span.fn-liked.icon-heart.secret{ :data => { :remote => dislike_message_path('%#id%').gsub('%23','#'), :success => 'hhkk.liked' } }
            %span.fn-count %#likes%
          .sharing
            %a{ :href => "http://www.facebook.com/sharer.php?u=http://herherkerker.com/%#id%", :target => "_blank" }
              %img{ :src => "/assets/fb.png", :alt => "Facebook" }
            %a{ :href => "https://plus.google.com/share?url=http://herherkerker.com/%#id%", :target => "_blank" }
              %img{ :src => "/assets/gp.png", :alt => "Google" }
            %a{ :href => "mailto:?Subject=Hi&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://herherkerker.com/%#id%" }
              %img{ :src => "/assets/share.png", :alt => "Email" }
    -@messages.each do |m|
      .row-fluid.fn-post{ :data => { :dbid => m.id } }
        .span12.post
          %p= m.body
          .date= distance_of_time_in_words_to_now m.updated_at
          .likes.fn-like.fn-disliked
            %span.fn-disliked.icon-heart-empty{ :data => { :remote => like_message_path(m.id), :success => 'hhkk.liked' } }
            %span.fn-liked.icon-heart.secret{ :data => { :remote => dislike_message_path(m.id), :success => 'hhkk.liked' } }
            %span.fn-count= m.likes
          .sharing
            %a{ :href => "http://www.facebook.com/sharer.php?u=#{joke_url(m)}", :target => "_blank" }
              %img{ :src => "/assets/fb.png", :alt => "Facebook" }
            %a{ :href => "https://plus.google.com/share?url=#{joke_url(m)}", :target => "_blank" }
              %img{ :src => "/assets/gp.png", :alt => "Google" }
            %a{ :href => "mailto:?Subject=Hi&Body=I%20saw%20this%20and%20thought%20of%20you!%20 #{joke_url(m)}" }
              %img{ :src => "/assets/share.png", :alt => "Email" }
  .row-fluid.secret.fn-more
    .span12.post.more
      %p صبر کنید ... درحال گرفتن هرهرکرکر های قبلی!
  .row-fluid.secret.fn-end
    .span12.post.more
      %p بابا رسیدی تهش! دیگه جوک نداریم!
  
