- content_for :head do
  %meta{ :name => "description", :content => @message.body }
  %link{ :rel => "image_src", :type => "image/jpeg", :href => "/assets/logo.png" }
  %meta{ :property => "og:image", :content => "/assets/logo.png" }
.row-fluid.main
  .span12.post
    %p= @message.body
    .date= distance_of_time_in_words_to_now @message.created_at
    .sharing
      %a{ :href => "http://www.facebook.com/sharer.php?u=#{joke_url(@message)}", :target => "_blank" }
        %img{ :src => "/assets/fb.png", :alt => "Facebook" }
      %a{ :href => "https://plus.google.com/share?url=#{joke_url(@message)}", :target => "_blank" }
        %img{ :src => "/assets/gp.png", :alt => "Google" }
      %a{ :href => "mailto:?Subject=Hi&Body=I%20saw%20this%20and%20thought%20of%20you!%20 #{joke_url(@message)}" }
        %img{ :src => "/assets/share.png", :alt => "Email" }
= render :partial => 'list'
